<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Prograde</title>		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Styles -->
		<!-- Bootstrap CSS -->
		<link href="css/bootstrap.min.css" rel="stylesheet">	
		<!-- Animate CSS -->
		<link href="css/animate.min.css" rel="stylesheet">
		<!-- Basic stylesheet -->
		<link rel="stylesheet" href="css/owl.carousel.css">
		<!-- Font awesome CSS -->
		<link href="css/font-awesome.min.css" rel="stylesheet">		
		<!-- Custom CSS -->
		<link href="css/style.css" rel="stylesheet">
		<link href="css/style-color.css" rel="stylesheet">
		
		<!-- Favicon -->
		<link rel="shortcut icon" href="img/logo/favicon.ico">
		<link rel="stylesheet" href="css/styles.css">
	</head>
	

		
		
		
		<!-- wrapper -->
		<div class="wrapper" id="home">
		
			<!-- header area -->
			<header>
				
				<!-- primary menu -->
				<nav class="navbar navbar-fixed-top navbar-default">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<!-- logo area -->
							<a class="navbar-brand" href="#home" style="position: absolute;top:-50px;width: 100%;left: 50px">
								<!-- logo image -->
								<img class="img-responsive" src="img/logo/logo.png" alt="" style="padding-bottom:80px;position:absolute;height: 600px;width: auto"/>
							</a>
					 	</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="/">Home</a></li>
								<li><a href="/login">Login</a></li>
								<li><a href="/register" >Join</a></li>
								<li><a href="/logout">Logout</a></li>
							</ul>
						</div><!-- /.navbar-collapse -->
					</div><!-- /.container-fluid -->
				</nav>

			<div class="cta parallax-six pad" >
<div class="nav-animate"></div>
				<div class="container">
					<!-- cta element -->
					<div class="default-heading" style="padding-top: 10%">
					<h2 style="font-size: 90px; color: white;"> Dashboard</h2>
					</div>	
				</div>
			</div>
			<!--/ cta end -->
			</header> 
			

			
	
			
			<!-- featured album -->

			<div class="featured pad" id="dashboard">
				<div>
					<!-- default heading -->
					<!-- featured album elements -->
					<div class="featured-element">
						<div class="row">
							<div class="col-md-4 col-sm-6">
								<!-- featured item -->
								<div class="featured-item ">
									<!-- image container -->
									<div class="figure">
										<!-- image -->
										<a href="/myProfile"><img class="img-responsive" src="images/myProfile.jpg" alt="" style="border: 2px solid #d12323"/></a>

									</div>
									<!-- featured information -->
									<div class="featured-item-info">
										<!-- featured title -->
										<h4>My Profile</h4>
										<!-- horizontal line -->
										<hr/>
			
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<!-- featured item -->
								<div class="featured-item ">
									<!-- image container -->
									<div class="figure">
										<!-- image -->
										<a href="/hobbies"><img class="img-responsive" src="images/hobbies.jpg" alt="" style="border: 2px solid #d12323"/></a>
										<!-- paragraph -->
			
									</div>
									<!-- featured information -->
									<div class="featured-item-info">
										<!-- featured title -->
										<h4>Hobbies</h4>
										<!-- horizontal line -->
										<hr />
			
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<!-- featured item -->
								<div class="featured-item ">
									<!-- image container -->
									<div class="figure">
										<!-- image -->
										<a href="/friends"><img class="img-responsive" src="images/friends.jpg" alt="" style="border: 2px solid #d12323"/></a>
										<!-- paragraph -->
										
									</div>
									<!-- featured information -->
									<div class="featured-item-info">
										<!-- featured title -->
										<h4>Friends</h4>
										<!-- horizontal line -->
										<hr />
			
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<!-- featured item -->
								<div class="featured-item ">
									<!-- image container -->
									<div class="figure">
										<!-- image -->
										<a href="connect"><img class="img-responsive" src="images/connect.jpg" alt="" style="border: 2px solid #d12323"/></a>
										<!-- paragraph -->
										
									</div>

									<div class="featured-item-info">
										<!-- featured title -->
										<h4>Connect</h4>
										<!-- horizontal line -->
										<hr />										
									</div>
									
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<!-- featured item -->
								<div class="featured-item ">
									<!-- image container -->
									<div class="figure">
										<!-- image -->
										<a href="/leaderboard"><img class="img-responsive" src="images/leaderboard.png" alt="" style="border: 2px solid #d12323"/></a>
										<!-- paragraph -->
											
									</div>
									<div class="featured-item-info">
										<!-- featured title -->
										<h4>Leaderboard</h4>
										<!-- horizontal line -->
										<hr />										
									</div>
									
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<!-- featured item -->
								<div class="featured-item ">
									<!-- image container -->
									<div class="figure">
										<!-- image -->
										<a href="/redeem"><img class="img-responsive" src="images/redeem.jpg" alt="" style="border: 2px solid #d12323"/></a>
										<!-- paragraph -->
										
									</div>
									<div class="featured-item-info">
										<!-- featured title -->
										<h4>Redeem</h4>
										<!-- horizontal line -->
										<hr />
										
									</div>

								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>			
			<!-- features end -->
			
			
		
			
				
		</div>
		
		<!-- Javascript files -->
		<!-- jQuery -->
		<script src="js/jquery.js"></script>
		<!-- Bootstrap JS -->
		<script src="js/bootstrap.min.js"></script>
		<!-- WayPoints JS -->
		<script src="js/waypoints.min.js"></script>
		<!-- Include js plugin -->
		<script src="js/owl.carousel.min.js"></script>
		<!-- One Page Nav -->
		<script src="js/jquery.nav.js"></script>
		<!-- Respond JS for IE8 -->
		<script src="js/respond.min.js"></script>
		<!-- HTML5 Support for IE -->
		<script src="js/html5shiv.js"></script>
		<!-- Custom JS -->
		<script src="js/custom.js"></script>
	</body>	
</html>