<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Prograde</title>		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Styles -->
		<!-- Bootstrap CSS -->
		<link href="css/bootstrap.min.css" rel="stylesheet">	
		<!-- Animate CSS -->
		<link href="css/animate.min.css" rel="stylesheet">
		<!-- Basic stylesheet -->
		<link rel="stylesheet" href="css/owl.carousel.css">
		<!-- Font awesome CSS -->
		<link href="css/font-awesome.min.css" rel="stylesheet">		
		<!-- Custom CSS -->
		<link href="css/style.css" rel="stylesheet">
		<link href="css/style-color.css" rel="stylesheet">
		
		<!-- Favicon -->
		
		<link rel="shortcut icon" href="img/logo/favicon.ico">
		<link rel="stylesheet" href="css/styles.css">
	</head>
	
	<body style="overflow:hidden">
		<!-- wrapper -->
		<div class="wrapper" id="home">
			<!-- header area -->
			<header>
				<!-- primary menu -->
				<nav class="navbar navbar-fixed-top navbar-default">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<!-- logo area -->
							<a class="navbar-brand" href="#home" style="position: absolute;top:-50px;width: 100%;left: 50px">
								<!-- logo image -->
								<img class="img-responsive" src="img/logo/logo.png" alt="" style="padding-bottom:80px;position:absolute;height: 600px;width: auto"/>
							</a>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="/">Home</a></li>
								<li><a href="/dashboard">Dashboard</a></li>
								<li><a href="/hobbies">Hobbies</a></li>
								
								
							</ul>
						</div><!-- /.navbar-collapse -->
					</div><!-- /.container-fluid -->
				</nav>
			</header>
			<!--/ header end -->
			
			<!-- block for animate navigation menu -->
			<div id="container" style="text-align: center">
				<img src="img/background/sound.jpg" style="height:auto;width: 100%; opacity:0.4">
			<div class="default-heading" style="text-align:center;position: absolute;top:20%;left:12.5%">
					<h2>Sound Designing</h2>	
					<h3 style="font-size: 30px;font-style: italic">"The knower of the mystery of sound knows the mystery of the whole universe."</h3>				
			<br><a href="#"><button class="btn btn-lg btn-theme">Explore</button></a>
				</div>	
				<div class="text-center">

							</div>
				</img>
			</div>
			</div>
			

			
			
			
			
			
			
		
				
						
			
			
			
			
		</div>
		
		<!-- Javascript files -->
		<!-- jQuery -->
		<script src="js/jquery.js"></script>
		<!-- Bootstrap JS -->
		<script src="js/bootstrap.min.js"></script>
		<!-- WayPoints JS -->
		<script src="js/waypoints.min.js"></script>
		<!-- Include js plugin -->
		<script src="js/owl.carousel.min.js"></script>
		<!-- One Page Nav -->
		<script src="js/jquery.nav.js"></script>
		<!-- Respond JS for IE8 -->
		<script src="js/respond.min.js"></script>
		<!-- HTML5 Support for IE -->
		<script src="js/html5shiv.js"></script>
		<!-- Custom JS -->
		<script src="js/custom.js"></script>
	</body>	
</html>