<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Prograde</title>		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Styles -->
		<!-- Bootstrap CSS -->
		<link href="css/bootstrap.min.css" rel="stylesheet">	
		<!-- Animate CSS -->
		<link href="css/animate.min.css" rel="stylesheet">
		<!-- Basic stylesheet -->
		<link rel="stylesheet" href="css/owl.carousel.css">
		<!-- Font awesome CSS -->
		<link href="css/font-awesome.min.css" rel="stylesheet">		
		<!-- Custom CSS -->
		<link href="css/style.css" rel="stylesheet">
		<link href="css/style-color.css" rel="stylesheet">
		
		<!-- Favicon -->
		
		<link rel="shortcut icon" href="img/logo/favicon.ico">
	</head>
	
	<body>
		
		
		
		<!-- wrapper -->
		<div class="wrapper" id="home">
		
			<!-- header area -->
			<header>
				
				<!-- primary menu -->
				<nav class="navbar navbar-fixed-top navbar-default">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<!-- logo area -->
							
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<a class="navbar-brand" href="#home" style="position: absolute;top:-50px;width: 100%;left: 50px">
								<!-- logo image -->
								<img class="img-responsive" src="img/logo/logo.png" alt="" style="padding-bottom:80px;position:absolute;height: 600px;width: auto"/>
							</a>
							<ul class="nav navbar-nav navbar-right">
								<li><a href="/">Home</a></li>
								<li><a href="/login">Login</a></li>
								<li><a href="/dashboard">Dashboard</a></li>
								<li><a href="#hobbies">Hobbies</a></li>
								<li><a href="#about">About</a></li>
								<li><a href="#modify">Future Additions</a></li>
								<li><a href="/events">Events</a></li>
								<li><a href="#change">Be the change</a></li>
								<li><a href="#contactus">Contact Us</a></li>
								<li><a href="/register" >Join</a></li>
							</ul>
						</div><!-- /.navbar-collapse -->
					</div><!-- /.container-fluid -->
				</nav>
			</header>
			<!--/ header end -->
			<!-- banner area -->
			<div class="banner">
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="6000">
					<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<img src="img/banner/b1.jpg",url('../img/background/overlay.png') alt="..." class="blur-me">
							<div class="container">
								<!-- banner caption -->
								<div class="carousel-caption slide-one" style="width: 100%">
									<!-- heading -->
									<h2 class="animated fadeInLeftBig">Learn. Connect. Compete. Achieve. </h2>
									<!-- paragraph -->
									<h3 class="animated fadeInRightBig">All in a single platform.</h3>
									<!-- button -->
								</div>
							</div>
						</div>
						<div class="item">
							<img src="img/banner/b2.jpg" alt="..." class="blur-me">
							<div class="container">
								<!-- banner caption -->
								<div class="carousel-caption slide-two" style="width: 100%">
									<!-- heading -->
									<h2 class="animated fadeInLeftBig">Upgrade Yourself, today. Get a hobby.</h2>
									<!-- paragraph -->
									<h3 class="animated fadeInRightBig">Don't just stay ahead in the race. Win it.</h3>
									
								</div>
							</div>
						</div>
						<div class="item">
							<img src="img/banner/b3.jpg" alt="..." class="blur-me">
							<div class="container">
								<!-- banner caption -->
								<div class="carousel-caption slide-two" style="width: 100%">
									<!-- heading -->
									<h2 class="animated fadeInLeftBig">An investment in learning pays the best interest.</h2>
									<!-- paragraph -->
									<h3 class="animated fadeInRightBig">Invest in Prograde for high returns.</h3>
									
								</div>
							</div>
						</div>
					</div>

					<!-- Controls -->
					
				</div>
			</div>
			<!--/ banner end -->
			
			<!-- block for animate navigation menu -->
			<div class="nav-animate"></div>
			<div id="intro">
				<div>
					<div class="default-heading">
						<h2>What's Prograde ?</h2>
					</div>
					<div>
						<p style=" font-size: 25px;margin: 60px;text-align: center;">Prograde is an online initiative, created to help the Indian Students prosper in Co-curricular activities.</p>
					</div>
				</div>		
			</div>
			
			
			
			<!-- promo -->
			<div class="promo parallax-one pad">
				<div class="container">
					<!-- promo element -->
					<div class="promo-element">
						<!-- heading -->
						<div style="background: rgba(0,0,0,0.25);">
						<h3 style="color: white;">Don't Believe Us, Believe Science.</h3>
						<!-- paragraph -->
						<p style="color: white;">A study of 400 employees published in the Journal of Occupational and Organizational Psychology finds marked differences between those who engage in creative hobbies and those who do not.<br><br>

<strong>Having a creative hobby is associated with positive work-related traits, like creativity on projects and a better attitude on the job.</strong></p>
						<!-- link -->
						</div>
					</div>
				</div>
			</div>
			<!--/ promo end -->
			
			<!-- featured abbum -->
			<div class="featured pad" id="hobbies">
				<div class="container">
					<!-- default heading -->
					<div class="default-heading">
						<!-- heading -->
						<h2>Hobbies</h2>
					</div>
					<!-- featured album elements -->
					<div class="featured-element">
						<div class="row">
							<div class="col-md-4 col-sm-6">
								<!-- featured item -->
								<div class="featured-item ">
									<!-- image container -->
									<div class="figure">
										<!-- image -->
										<img class="img-responsive" src="img/featured/1.jpg" alt="" />
										<!-- paragraph -->
										<p style="text-align: center; padding-top: 21.5%">Try your hand at one of the most popular board games worldwide, considered as an index of genius.</p>
									</div>
									<!-- featured information -->
									<div class="featured-item-info">
										<!-- featured title -->
										<h4>Chess</h4>
										<!-- horizontal line -->
										<hr />
			
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<!-- featured item -->
								<div class="featured-item ">
									<!-- image container -->
									<div class="figure">
										<!-- image -->
										<img class="img-responsive" src="img/featured/2.jpg" alt="" />
										<!-- paragraph -->
										<p style=" padding-top:21.5%; text-align: center;">Begin with the basics, master each string, and become a pro, with thousands of other people. </p>
									</div>
									<!-- featured information -->
									<div class="featured-item-info">
										<!-- featured title -->
										<h4>Guitar</h4>
										<!-- horizontal line -->
										<hr />
			
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<!-- featured item -->
								<div class="featured-item ">
									<!-- image container -->
									<div class="figure">
										<!-- image -->
										<img class="img-responsive" src="img/featured/3.jpg" alt="" />
										<!-- paragraph -->
										<p style=" text-align: center; padding-top: 24%">Explore and learn literary tips and tricks from the best that'll leave people awestruck.</p>
									</div>
									<!-- featured information -->
									<div class="featured-item-info">
										<!-- featured title -->
										<h4>Creative Writing</h4>
										<!-- horizontal line -->
										<hr />
			
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<!-- featured item -->
								<div class="featured-item ">
									<!-- image container -->
									<div class="figure">
										<!-- image -->
										<img class="img-responsive" src="img/featured/4.jpg" alt="" />
										<!-- paragraph -->
										<p style="text-align: center; padding-top: 24%"> Learn this art of intricate and harmonious expression through movement. </p>
									</div>

									<div class="featured-item-info">
										<!-- featured title -->
										<h4>Dance</h4>
										<!-- horizontal line -->
										<hr />										
									</div>
									
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<!-- featured item -->
								<div class="featured-item ">
									<!-- image container -->
									<div class="figure">
										<!-- image -->
										<img class="img-responsive" src="img/featured/5.jpg" alt="" />
										<!-- paragraph -->
										<p style="text-align: center ; padding-top: 22%">Make a moment everlasting through a lens with this modern technique of capturing history.</p>
									</div>
									<div class="featured-item-info">
										<!-- featured title -->
										<h4>Photography</h4>
										<!-- horizontal line -->
										<hr />										
									</div>
									
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<!-- featured item -->
								<div class="featured-item ">
									<!-- image container -->
									<div class="figure">
										<!-- image -->
										<img class="img-responsive" src="img/featured/6.jpg" alt="" />
										<!-- paragraph -->
										<p style="text-align: center; padding-top: 22%">A basic knowledge of self defence can be difference between life and death in a deadly situation.</p>
									</div>
									<div class="featured-item-info">
										<!-- featured title -->
										<h4>Martial Arts</h4>
										<!-- horizontal line -->
										<hr />
										
									</div>

								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<!-- featured item -->
								<div class="featured-item ">
									<!-- image container -->
									<div class="figure">
										<!-- image -->
										<img class="img-responsive" src="img/featured/7.jpg" alt="" />
										<!-- paragraph -->
										<p style="text-align: center; padding-top:22%">There is nothing more rewarding than taking a piece of wood and giving it purpose.</p>
									</div>
									<!-- featured information -->
									<div class="featured-item-info">
										<!-- featured title -->
										<h4>Wood working</h4>
										<!-- horizontal line -->
										<hr />
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<!-- featured item -->
								<div class="featured-item ">
									<!-- image container -->
									<div class="figure">
										<!-- image -->
										<img class="img-responsive" src="img/featured/8.jpg" alt="" />
										<!-- paragraph -->
										<p style="text-align: center; padding-top: 24%">Drawing is fun and a great way to train the right side of your brain and boost creativity.</p>
									</div>
									<!-- featured information -->
									<div class="featured-item-info">
										<!-- featured title -->
										<h4>Drawing</h4>
										<!-- horizontal line -->
										<hr />
										</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<!-- featured item -->
								<div class="featured-item ">
									<!-- image container -->
									<div class="figure">
										<!-- image -->
										<img class="img-responsive" src="img/featured/9.jpg" alt="" />
										<!-- paragraph -->
										<p style="text-align: center; padding-top:24%">Your time spent on working on physical and mental health is a gift to yourself.</p>
									</div>
									<!-- featured information -->
									<div class="featured-item-info">
										<!-- featured title -->
										<h4>Yoga / Meditation</h4>
										<!-- horizontal line -->
										<hr />
										</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- features end -->
			
			<!-- call to action -->
			<div class="cta parallax-two pad">
				<div class="container">
					<!-- cta element -->
					<div class="cta-element " style="background-color: #00000000 ">
						<div class="row">
							<div class="col-md-9 col-sm-8" style="width: 100%;">
								<!-- heading -->
								<h3 style="font-size: 40px">You never lose a dream, it just incubates as a hobby.</h3>
								<!-- paragraph -->
								<p style="position: absolute; left: 90%;font-size: 20px;"> ~ Larry Page</p>
							
							</div>
							
						</div>
					</div>
				</div>
			</div>
			<!--/ cta end -->
			
			
			
			
			<div id="about">
<div>
<!-- default heading -->
<div class="default-heading">
<!-- heading -->
<h2>About the goal</h2>
</div>
<div>
<p style=" font-size: 15px;margin: 60px;text-align: center;">Prograde is an online initiative, created to help the Indian Students prosper in Co-curricular activities with voluntary help of the experienced ones.<br>

It is a clearly visible fact that the education system at times, is not enough for the all round development of the child. Especially in Developing countries, co-curricular activities are majorly ignored, and dismissed as 'things which waste time'.<br>

The truth, on the other hand, can not be further. Studies have proven, time and time again, that students with a hobby/skill turn out to be more disciplined, dedicated, happy, and content with life, as adults, when compared to those who don't develop a co-curricular activity.<br>

Co-curricular activities with professionals by your side come along with their own bundle of advantages, some of which include:

</p><ul type="square" style="font-size: 15px; margin: 60px">
<li>Great mental health of the child with emotional support</li>

<li>Inculcation of the most sought-after qualities like sincerity, dedication, productivity, innovation &amp;
enhanced creativity</li>

<li>Fun interactive and live sessions</li>

<li>A healthy alternative to the addictive online games, which have engulfed most of the youth in the age group of 14-23</li>

<li>Maintenance of a proper lifestyle with the addition of a skill</li>

<li>A satisfying medium of expression and recreation</li>

<li>Tricks and tips from experts</li></ul>

<p style=" font-size: 15px; margin: 60px;text-align: center">Thus, it becomes important to include and integrate co-curricular activities with the basic education of a student, from the earliest age possible, and guidance from the best experts. <br>

However, with all said, it sometimes becomes a pain trying to arrange for materials related to a hobby, interacting with others who have similar hobbies, maintain the motivation to perfect a hobby, combating the feeling of worthlessness of the hobby, and also the absence of proper guidance .

<br>Prograde helps students solve all of the above mentioned problems, with its portal.

Also, we at prograde believe that retired professionals with vast experience can provide Tips to the students which will help them gain more knowledge and skills with enhanced problem solving techniques.
This will reduce the generation gap between two generations and the ret.professionals will once again get a chance to showcase their expertise to the world.

Explore the website to find out how :)</p>

</div>
</div>
</div>

			
			
			<!-- events -->
			<div class="events parallax-three pad" id="modify" style="color: #FFFFFF">
			<div class="featured pad">
				<div class="container">
					<!-- default heading -->

					<div class="default-heading-shadow">
						<!-- heading -->
						<h2 >Future Additions</h2>
					</div>
					<!-- events element -->
					<div class="events-element">
						<div class="row">
							<div class="col-md-4 col-sm-6">
								<!-- featured item -->
								<div class="featured-item ">
									<!-- image container -->
									<div class="figure">
										<!-- image -->
										<img class="img-responsive" src="img/featured/10.jpg" alt="" />
										<!-- paragraph -->
										<p style="text-align: center; padding-top: 24%">Master the secrets of the stock market to make the most out of your finances.</p>
									</div>
									<!-- featured information -->
									<div class="featured-item-info">
										<!-- featured title -->
										<h4>Stock Marketing</h4>
										<!-- horizontal line -->
										<hr />
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<!-- featured item -->
								<div class="featured-item ">
									<!-- image container -->
									<div class="figure">
										<!-- image -->
										<img class="img-responsive" src="img/featured/11.jpg" alt="" />
										<!-- paragraph -->
										<p style="text-align: center; padding-top: 19%">Media consumption today is at its height, acquire photo and video editing skills for fun or to get an edge on your assignments.</p>
									</div>
									<!-- featured information -->
									<div class="featured-item-info">
										<!-- featured title -->
										<h4>Image / Video Editing</h4>
										<!-- horizontal line -->
										<hr />
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<!-- featured item -->
								<div class="featured-item ">
									<!-- image container -->
									<div class="figure">
										<!-- image -->
										<img class="img-responsive" src="img/featured/12.jpg" alt="" />
										<!-- paragraph -->
										<p style="text-align: center; padding-top: 21.5%">Become more charismmatic and ace your presentations by learning the essentials of declamation.</p>
									</div>
									<!-- featured information -->
									<div class="featured-item-info">
										<!-- featured title -->
										<h4>Public Speaking</h4>
										<!-- horizontal line -->
										<hr />
									</div>
								</div>
							</div>
			
						</div>
						</div>
					</div>
				</div>
			</div>
			<!-- events end -->

<div id="change" class="about">
<!-- default heading -->
	<div class="default-heading">
<!-- heading -->
		<h2>Be the change !</h2>
	</div>
	<div>
		<p style=" font-size: 20px;margin: 60px; text-align: center">The world sure is good, but it surely can better.<br><br> There are many issues which require the focus of people like you, for eg. climate change, animal seltering.<br>
There are thousands of  NGOs that can use your skills and talents, and even your will to volunteer will be wonderful!<br><br>
If you think you can contribute, do write to us :)<br></p>
	</div>
</div>
</div>

			<!-- about -->
			<div class="about" id="team">
				<div class="container">
					<!-- default heading -->
					<div class="default-heading">
						<!-- heading -->
						<h2>Who We Are?</h2>
					</div>
					<!-- about what we are like content -->
					<div class="about-what-we">
						<div class="row">
							<div class="col-md-4 col-sm-4">
								<div class="what-we-item ">
									<!-- heading with icon -->
									<h3><i class="fa fa-heartbeat"></i> What we do?</h3>
									<!-- paragraph -->
									<p>Just few individuals who think that a student should develop all spheres of life, instead of a few. We're undergraduates, who strongly faced the lack of a platform to express our skills, talents, and hobbies.</p>
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<div class="what-we-item ">
									<!-- heading with icon -->
									<h3><i class="fa fa-hand-o-up"></i> Why choose us?</h3>
									<!-- paragraph -->
									<p>We understand well how important it is to develop one's personality in the co-curricular areas, and how differently the world will change if everyone develop themselves in all spheres of life.</p>
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<div class="what-we-item ">
									<!-- heading with icon -->
									<h3><i class="fa fa-map-marker"></i> Where we are?</h3>
									<!-- paragraph -->
									<p>We're based in New Delhi, preparing to make ourselves heard throughout the world. A number of countries are on our bucket list.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- our team -->
				<div class="team">
					<div class="container">	
						<!-- Team Member's Details -->
						<div class="team-content">
							<div class="row">
								<div class="col-md-3 col-sm-6">
									<!-- Team Member -->
									<div class="team-member  delay-one">
										<!-- Image Hover Block -->
										<div class="member-img">
											<!-- Image  -->
											<img class="img-responsive" src="img/user/1.jpg" alt="" />
											<!-- Hover block -->
											<div class="social text-center">

												<a href="https://www.linkedin.com/in/jayank-tyagi-7a3555191/"  ><i class="fa fa-linkedin"></i></a>

											</div>
										</div>
										<!-- Member Details -->
										<h3>Jayank Tyagi</h3>
										<span class="designation">Front-End Developer</span>
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<!-- Team Member -->
									<div class="team-member  delay-two">
										<!-- Image Hover Block -->
										<div class="member-img">
											<!-- Image  -->
											<img class="img-responsive" src="img/user/2.jpg" alt="" />
											<!-- Hover block -->
											<div class="social text-center">

												<a href="https://www.linkedin.com/in/khushit-mehta-7848241ab" target="_blank"><i class="fa fa-linkedin"></i></a>

											</div>
										</div>
										<!-- Member Details -->
										<h3>Khushit Mehta</h3>
										<span class="designation">Content-Writer & Designer</span>
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<!-- Team Member -->
									<div class="team-member  delay-three">
										<!-- Image Hover Block -->
										<div class="member-img">
											<!-- Image  -->
											<img class="img-responsive" src="img/user/3.jpg" alt="" />
											<!-- Hover block -->
											<div class="social text-center">
												<a href="https://www.linkedin.com/in/mayank-gupta-998522148/" target="_blank"><i class="fa fa-linkedin"></i></a>
											</div>
										</div>
										<!-- Member Details -->
										<h3>Mayank Gupta</h3>
										<span class="designation">Front-End Developer</span>
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<!-- Team Member -->
									<div class="team-member  delay-four">
										<!-- Image Hover Block -->
										<div class="member-img">
											<!-- Image  -->
											<img class="img-responsive" src="img/user/4.jpg" alt="" />
											<!-- Hover block -->
											<div class="social text-center">

												<a href="https://www.linkedin.com/in/sanyam-jain-10b97418b" target="_blank"><i class="fa fa-linkedin"></i></a>

											</div>
										</div>
										<!-- Member Details -->
										<h3>Sanyam Jain</h3>
										<span class="designation">Backend Developer</span>
									</div>
								</div>
							</div>
			<div class="contact pad" id="contactus">
				<div class="container">
					<!-- default heading -->
					<div class="default-heading">
						<!-- heading -->
						<h2>Contact Us</h2>
					</div>
					<div class="row">	
						<div class="col-md-4 col-sm-4">
							<!-- contact item -->
							<div class="contact-item ">
								<!-- big icon -->
								<i class="fa fa-map"></i>
								<!-- contact details  -->
								<span class="contact-details">4/60, M.G Road, New Delhi, 110060</span>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<!-- contact item -->
							<div class="contact-item ">
								<!-- big icon -->
								<i class="fa fa-wifi"></i>
								<!-- contact details  -->
								<span class="contact-details">contactus@prograde.com</span>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<!-- contact item -->
							<div class="contact-item ">
								<!-- big icon -->
								<i class="fa fa-phone" ></i>
								<!-- contact details  -->
								<span class="contact-details">+91 98765 43210</span>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<!-- contact item -->
							<div class="contact-item ">
								<!-- big icon -->
								<i class="fa fa-facebook" aria-hidden="true"></i>
								<!-- contact details  -->
								<span class="contact-details">progradeofficial</span>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<!-- contact item -->
							<div class="contact-item ">
								<!-- big icon -->
								<i class="fa fa-instagram" aria-hidden="true"></i>
								<!-- contact details  -->
								<span class="contact-details">@progradeofficial</span>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<!-- contact item -->
							<div class="contact-item ">
								<!-- big icon -->
								<i class="fa fa-twitter"></i>
								<!-- contact details  -->
								<span class="contact-details">@progradeofficial</span>
							</div>
						</div>

					</div>			<!-- form content -->
					<div class="form-content ">
						<!-- paragraph -->
						<div class="default-heading"><h2>Do you have an idea? Drop us a line.</h2></div>
						<form role="form" id="contactForm" method="post">
							<div class="row">
								<div class="col-md-6 col-sm-6">
									<div class="form-group">
										<label for="name">Name</label>
										<input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
									</div>
									<div class="form-group">
										<label for="email">Email</label>
										<input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
									</div>
									<div class="form-group">
										<label for="phone">Phone</label>
										<input type="text" class="form-control" id="phone" name="phone" placeholder="Enter phone">
									</div>
								</div>
								<div class="col-md-6 col-sm-6">
									<div class="form-group">
										<label for="message">Message</label>
										<textarea class="form-control" id="message" name="message" rows="9" placeholder="Enter message"></textarea>
									</div>
								</div>
							</div>
							<div class="text-center">
								<button class="btn btn-lg btn-theme">Send Message</button>
							</div>
						</form>
												
					</div>

						</div>
					</div>
				</div>
			</div>
			<!-- about end -->
						
			<!-- contact -->
					

				</div>
			</div>
			<!-- contact end -->
			<footer>
				<div class="container">
					<!-- social media links -->
					<div class="social">
						<a class="h-facebook" href="#"><i class="fa fa-facebook"></i></a>
						<a class="h-instagram" href="#"><i class="fa fa-instagram"></i></a>
						<a class="h-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
						<a class="h-twitter" href="#"><i class="fa fa-twitter"></i></a>
						
					</div>
					<!-- copy right -->
		
				</div>
			</footer>
			<!-- footer end -->
			
			<!-- Scroll to top -->
			<span class="totop"><a href="#"><i class="fa fa-chevron-up"></i></a></span> 	
			<!-- footer -->
			
			
		</div>
		
		<!-- Javascript files -->
		<!-- jQuery -->
		<script src="js/jquery.js"></script>
		<!-- Bootstrap JS -->
		<script src="js/bootstrap.min.js"></script>
		<!-- WayPoints JS -->
		<script src="js/waypoints.min.js"></script>
		<!-- Include js plugin -->
		<script src="js/owl.carousel.min.js"></script>
		<!-- One Page Nav -->
		<script src="js/jquery.nav.js"></script>
		<!-- Respond JS for IE8 -->
		<script src="js/respond.min.js"></script>
		<!-- HTML5 Support for IE -->
		<script src="js/html5shiv.js"></script>
		<!-- Custom JS -->
		<script src="js/custom.js"></script>
	</body>	
</html>