<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Prograde</title>		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Styles -->
		<!-- Bootstrap CSS -->
		<link href="css/bootstrap.min.css" rel="stylesheet">	
		<!-- Animate CSS -->
		<link href="css/animate.min.css" rel="stylesheet">
		<!-- Basic stylesheet -->
		<link rel="stylesheet" href="css/owl.carousel.css">
		<!-- Font awesome CSS -->
		<link href="css/font-awesome.min.css" rel="stylesheet">		
		<!-- Custom CSS -->
		<link href="css/style.css" rel="stylesheet">
		<link href="css/style-color.css" rel="stylesheet">



	<!-- Favicon -->
		
		<link rel="shortcut icon" href="img/logo/favicon.ico">
	</head>
	
	<body style="color: black;overflow: hidden">
		<!-- wrapper -->
		<div class="wrapper" id="home">
		
			<!-- header area -->
			<header>
				
				<!-- primary menu -->
				<nav class="navbar navbar-fixed-top navbar-default">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<!-- logo area -->
							<a class="navbar-brand" href="index.html" style="position: absolute;top:-50px;width: 100%;left: 50px">
								<!-- logo image -->
								<img class="img-responsive" src="img/logo/logo.png" alt="" style="padding-bottom:80px;position:absolute;height: 600px;width: auto"/>
							</a>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="/">Home</a></li>
								<li><a href="/login">Login</a></li>
								<li><a href="/dashboard">Dashboard</a></li>
								<li><a href="/logout" >Logout</a></li>
							</ul>
						</div><!-- /.navbar-collapse -->
					</div><!-- /.container-fluid -->
				</nav>
			</header>
			<!--/ header end -->
		<!--/ cta end -->
		</header> <div>
		<img src="img/promo/p10.jpg"style="height: 100%;width: auto;">
				<!-- cta element -->
			<div class="default-heading" style="position: absolute;top: 25%;left:20%;right: 20%">
				<h2 style="font-size: 90px;">Redeem</h2>
			</div>	
		</div>
		<div style="position: absolute;top: 55%;width: 100%;left:30%;right: 20%">
		<div id="master" style="border: 2px solid #f23030;width: 40%;padding:3px;">
			<div ><p class="p" style="font-size: 22px">Type:</p></div>
			<div ><select name="favourite_sport" size="1" style="margin-left:66%;width: 180px">
				<option value="select">--SELECT--</option>
				<option value="Food">Food</option>
				<option value="Fashion">Fashion</option>
				<option value="Accessories">Accessories</option>
				<option value="Travel">Travel</option>				
				<option value="Cash">Cash</option>
			</select>
			</div>
			<div><p id="code" style="font-size: 22px">Platform:</p></div>
			<div><select name="favourite_sport" size="1" style="width: 180px;margin-left:66%">
				<option value="select">--SELECT--</option>
				<option value="Amazon">Amazon</option>
				<option value="Flipkart">Flipkart</option>
				<option value="Ola">Ola</option>
				<option value="Myntra">Myntra</option>				
				<option value="Swiggy">Swiggy</option>
			</select>
			</div>
			<div><p id="code" style="font-size: 22px">Amount:</p></div>
			<div><select name="favourite_sport" size="1" style="margin-left:66%;width: 180px">
				<option value="select">--SELECT--</option>
				<option value="500">500</option>
				<option value="1000">1000</option>
				<option value="1500">1500</option>
				<option value="2000">2000</option>				
			</select>
			</div>
			<div id="btn">
				<div><p id="code" style="font-size: 22px">Are you sure?</p></div>
				<div style="margin-left: 87%"><button id="1" onclick="myFunction()"class="btn btn-lgn btn-theme">Submit</button></div>
			</div>
 			<script>
			  function myFunction() {
  				  alert("Coupon claimed successfully.");
				  location.reload(true);
 			 }
 			 </script>
		</div>
		</div>
		</div>
		</div>
		<!-- Javascript files -->
		<!-- jQuery -->
		<script src="js/jquery.js"></script>
		<!-- Bootstrap JS -->
		<script src="js/bootstrap.min.js"></script>
		<!-- WayPoints JS -->
		<script src="js/waypoints.min.js"></script>
		<!-- Include js plugin -->
		<script src="js/owl.carousel.min.js"></script>
		<!-- One Page Nav -->
		<script src="js/jquery.nav.js"></script>
		<!-- Respond JS for IE8 -->
		<script src="js/respond.min.js"></script>
		<!-- HTML5 Support for IE -->
		<script src="js/html5shiv.js"></script>
		<!-- Custom JS -->
		<script src="js/custom.js"></script>
	</body>	
</html>